@using Helpers.Email.Views.Shared
@model Helpers.Email.Views.Emails.PasswordReset.PasswordResetViewModel

@{
    ViewData["EmailTitle"] = "Jelszó visszaállítása";
}

<p>
    Az alábbi gombra kattintva tudod visszaállítani a jelszavad:
</p>

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel { Text = "Jelszó visszaállítása", Url = Model.PasswordResetUrl })

<p>
    Amennyiben nem te kérted a jelszavad visszaállítását, kérlek hagyd figyelmen kívül ezt az emailt!
</p>
<br>
<p>Üdvözlettel:</p>
<p>A LovasssyApp csapata</p>