#╔════════════════════════════════════════════╗
#║    Blueboard Docker Environment Example    ║
#╚════════════════════════════════════════════╝

# ┌────────────────────────────┐
# │  ASP.NET Core Environment  │
# └────────────────────────────┘
ASPNETCORE_ENVIRONMENT=Development

# ┌──────────────────────────┐
# │  Database Configuration  │
# └──────────────────────────┘
DB_NAME=BlueboardDb # name of the postgres db itself
DB_USER=postgres # username of the postgres db's owner user
DB_PASSWORD=password # password of the postgres db's owner user

# ┌─────────────────────────────┐
# │  EF Core Connection String  │
# │ Used by all Docker services │
# └─────────────────────────────┘
DB_CONNECTION_STRING=Host=db;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD} # WARN this will be set as an env var, overwriting the default connection string specified in appsettings.*.json files

# ┌─────────┐
# │  Ports  │
# └─────────┘
BLUEBOARD_PORT=5279 # the port of the host machine that gets bint to Blueboard's 5279 port
POSTGRES_PORT=5432 # the port of the host machine that gets bint to the postgres db's 5432 port
