@model Helpers.Email.Views.Emails.ResetKeyPasswordSetNotification.ResetKeyPasswordSetNotificationViewModel

@{
    ViewData["EmailTitle"] = "A visszaállítási jelszó be lett állítva";
}

<p>Örömmel értesítünk arról, hogy a visszaállítási jelszó be lett állítva a LovassyAppon.</p>
<p>Ez azt jeleni, hogy elérhetővé vállt a <strong>regisztráció</strong> és a <strong>jelszó visszaállítása</strong> funkció is.</p>
<br>
<p>Üdvözlettel:</p>
<p>A LovasssyApp csapata</p>