#╔════════════════════════════════════════════╗
#║   Boardlight Docker Environment Example    ║
#╚════════════════════════════════════════════╝

# ┌──────────────────────────────────────┐
# │  Address of Blueboard inside Docker  │
# └──────────────────────────────────────┘
# WARN leave this env var empty for docker (vite proxy server will redirect the traffic to 'blueboard:5279' internally)
# WARN if you wish to run the app locally, change this to 'http://localhost:5279'
VITE_BLUEBOARD_URL=""
